<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Decision Maker</title>
  <meta charset="UTF-8" />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- External Font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700" rel="stylesheet">
  
  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">

  <!-- JQuery Drag & Drop UI -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Drop placeholder</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #sortable {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
    }

    #sortable li {
      margin: 0 5px 5px 5px;
      padding: 5px;
      font-size: 1.2em;
      height: 1.5em;
    }

    html>body #sortable li {
      height: 1.5em;
      line-height: 1.2em;
    }

    .ui-state-highlight {
      height: 1.5em;
      line-height: 1.2em;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#sortable").sortable({
        placeholder: "ui-state-highlight"
      });
      $("#sortable").disableSelection();
    });
  </script>
</head>

<body>
  <h3>
    <i> <%=title%> </i>
    </h2>
    <p>
      <i><%=description%> </i>
    </p>
    <h4>
      <i><%=question%></i>
    </h4>
    <ul id="sortable">
      <li class="ui-state-default">
        <i><%=answer_1%></i>
      </li>
      <li class="ui-state-default">
        <i><%=answer_2%></i>
      </li>
      <li class="ui-state-default">
        <i><%=answer_3%></i>
      </li>
      <li class="ui-state-default">
        <i><%=answer_4%></i>
      </li>
    </ul>
</body>

</html>