<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Decide Kick</title>
  <meta charset="UTF-8" />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- External Font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700" rel="stylesheet">
  
  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/survey.css" type="text/css">

  <!-- Glyphicons -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


  <!-- JQuery Drag & Drop UI -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Drop placeholder</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
  </script>
  <script>
  $(function () {
    $('[data-toggle="popover"]').tooltip()
    $('[data-toggle="popover"]').popover()
  })
  </script>
</head>

<body>
    <div class="header">
    <span id="questionheader"><%=survey.question%></span>
    </div>
    <div class="container-fluid">
      <form class="survey_data_form" action="<%-survey.user_link.slice(21)%>" method="POST">
        <ol id="sortable"><input name="survey_id" value="<%=survey.id%>" type="hidden">
          <input name="admin_id" value="<%=survey.admin_id%>" type="hidden">
          <input name="user_link" value="<%=survey.user_link%>" type="hidden">
          <input name="admin_link" value="<%=survey.admin_link%>" type="hidden">
          
          <li id="score_1" class="surveyitem" class="ui-state-default"><input name="answers[]" value="<%=results[0].id%>" type="hidden">
              <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
              <span>
                <a><%=results[0].answer%></a>
                <!-- <a><%=results[0].description%></a> -->
              </span>
              <span class="glyphicon glyphicon-expand" aria-hidden="true" data-toggle="popover" title="<%=results[0].description%>" data-content="<%=results[0].description%>"></span>
          </li>

          <li id="score_2" class="surveyitem" class="ui-state-default"><input name="answers[]" value="<%=results[1].id%>" type="hidden">
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span>
              <a><%=results[1].answer%></a>
              <!-- <a><%=results[1].description%></a> -->
            </span>
            <span class="glyphicon glyphicon-expand" aria-hidden="true" data-toggle="popover" title="<%=results[1].description%>" data-content="<%=results[1].description%>"></span>
          </li>

          <li id="score_3" class="surveyitem" class="ui-state-default"><input name="answers[]" value="<%=results[2].id%>" type="hidden">
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span>
              <a><%=results[2].answer%></a>
              <!-- <a><%=results[2].description%></a> -->
            </span>
            <span class="glyphicon glyphicon-expand" aria-hidden="true" data-toggle="popover" title="<%=results[2].description%>" data-content="<%=results[2].description%>"></span>
          </li>

          <li id="score_4" class="surveyitem" class="ui-state-default"><input name="answers[]" value="<%=results[3].id%>" type="hidden">
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            <span>
              <a><%=results[3].answer%></a>
              <!-- <a><%=results[3].description%></a> -->
              <span class="glyphicon glyphicon-expand" aria-hidden="true" data-toggle="popover" title="<%=results[3].description%>" data-content="<%=results[3].description%>"></span>
            </span>
          </li>
        </ol>
        <div class="buttonholder">
          <input type="submit" class="button" value="Send Choices">
        </div>
      </form>
    </div>
</body>

</html>