<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Decide Kick</title>
  <meta charset="UTF-8" />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- External Font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700" rel="stylesheet">
  
  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">

  <!-- JQuery Drag & Drop UI -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Drop placeholder</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #sortable {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
    }

    #sortable li {
      margin: 0 5px 5px 5px;
      padding: 5px;
      font-size: 1.2em;
      height: 1.5em;
    }

    html>body #sortable li {
      height: 1.5em;
      line-height: 1.2em;
    }

    .ui-state-highlight {
      height: 1.5em;
      line-height: 1.2em;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#sortable").sortable({
        placeholder: "ui-state-highlight"
      });
      $("#sortable").disableSelection();
    });
  </script>
</head>

<body>
    <h4>
      <i><%=survey.question%></i>
    </h4>
    <form class="survey_data_form" action="<%-survey.user_link.slice(21)%>" method="POST">
      <ol id="sortable"><input name="survey_id" value="<%=survey.id%>" type="hidden">
        <input name="admin_id" value="<%=survey.admin_id%>" type="hidden">
        <input name="user_link" value="<%=survey.user_link%>" type="hidden">
        <input name="admin_link" value="<%=survey.admin_link%>" type="hidden">
        <li id="score_1" class="ui-state-default"><input name="answers[]" value="<%=results[0].id%>" type="hidden">
          <i><%=results[0].answer%></i><i> <%=results[0].description%></i>
        </li>
        <li id="score_2" class="ui-state-default"><input name="answers[]" value="<%=results[1].id%>" type="hidden">
          <i><%=results[1].answer%></i><i> <%=results[1].description%></i>
        </li>
        <li id="score_3" class="ui-state-default"><input name="answers[]" value="<%=results[2].id%>" type="hidden">
          <i><%=results[2].answer%></i><i> <%=results[2].description%></i>
        </li>
        <li id="score_4" class="ui-state-default"><input name="answers[]" value="<%=results[3].id%>" type="hidden">
          <i><%=results[3].answer%></i><i> <%=results[3].description%></i>
        </li>
      </ol>
      <input type="submit" class="button" value="Send Choices">
    </form>
</body>

</html>